<div class="layout">
  <main class="content">
    <div class="top-bar">
      <h2 class="panel-title">Tu Asistente de Lactancia</h2>

      <img
        src="https://cdn-icons-png.flaticon.com/512/4712/4712035.png"
        alt="Bot Icon"
        class="search-icon"
      />
    </div>

    <div class="chat-history" #scrollContainer>
      <div
        *ngFor="let msg of historial"
        class="message"
        [ngClass]="{ user: msg.esMio, bot: !msg.esMio }"
      >
        <p>{{ msg.texto }}</p>

        <span class="time">{{ msg.hora | date : 'shortTime' }}</span>
      </div>

      <div *ngIf="cargando" class="message bot">
        <p>Escribiendo... 🖊️</p>
      </div>
    </div>

    <div class="chat-input">
      <input
        type="text"
        [(ngModel)]="mensajeUsuario"
        (keyup.enter)="enviar()"
        [disabled]="cargando"
        placeholder="Escribe tu duda sobre lactancia aquí..."
      />

      <button class="send-btn" (click)="enviar()" [disabled]="!mensajeUsuario.trim() || cargando">
        Enviar
      </button>
    </div>
  </main>
</div>
